body{
    padding:0;
    margin:0;
}

.main-bg {
    background-image: url(./img/logo.jpg);
    background-size: cover;
    color: white;
  }

div.totalbox{
    width: 1200px;
    padding: 0;
}


div{
    /* border: 1px solid red; */
    Overflow: hidden;
}



#no{
     display: none;
    
}


.table-center td{
    text-align: center;
    font-size: 10pt;
}


.table-center{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

.table-size{
    width: 100%;
    height: 221.91px;
}
@media screen and (max-width: 992px){
    
}

@media screen and (max-width: 768px){

}